.password{
    display: flex;
}
.material-icons{
    position: relative;
    margin-left: -35px;
    margin-top: 5px;
}
.btn{
    background-color: #4b96b4;
    color: #fff;
    border: 1px solid #4b96b4;
}