<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 test">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/burger.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="font-weight: 600;">Vihara- The International by Tunga</p>
          <p class="card-text">Chinese North Indian,fast...</p>
          <p class="card-text">Andheri West |1.3kms</p>        </div>
      </div>  
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 test">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/burger.jpg" alt="Card image cap">
        <div class="card-body">
           <div class="border">
            <span class="material-icons">
              view_in_ar
              </span>
            <p>Watch 3d Menu</p>
          </div> 
          <p class="card-text"  style="font-weight: 600">Vihara- The International by Tunga</p>
          <p class="card-text">Chinese North Indian,fast...</p>
          <p class="card-text">Andheri West |1.3kms</p>
        </div>
      </div>  
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 test">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/burger.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text" style="font-weight: 600;">Vihara- The International by Tunga</p>
          <p class="card-text">Chinese North Indian,fast...</p>
          <p class="card-text">Andheri West |1.3kms</p>        </div>
      </div>  
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>