
.users{
    border: 1px solid #4927a8;
    padding: 20px;
}

.post button{
    background-color: #4b96b4;
    color: white;
    border: 1px solid #4927a8;
    padding: 3px 39px;
    font-size: 1rem;
}

.search{
    margin-bottom: 20px;
}

.card{
    margin-bottom: 20px;
}
 
